/.idea/
.vscode/
*.iml
**/target/
/target/*
/.idea/*
/.idea/sonarlint/**

*.apk
*.idsig
*.ipa
*.xcarchive
*.pcs

/erp-fhir-fuzzing/src/main/java/de/gematik/test/fuzzing/fhirfuzz/documents/

COPYRIGHT_HEADER
Jenkinsfile
CI
