/.idea/
.vscode/
*.iml
**/target/
/target/*
/.idea/*
/.idea/sonarlint/**

*.apk
*.idsig
*.ipa
*.xcarchive
*.pcs
COPYRIGHT_HEADER
Jenkinsfile
*.Jenkinsfile
.gitlab
CI
*.ppcs
*.pcs
**/nginx.conf
**/.env
