/.idea/
.vscode/
*.iml
**/target/
/target/*
/.idea/*
/.idea/sonarlint/**
/.run/**
**/.DS_Store

*.apk
*.idsig
*.ipa
*.xcarchive
*.pcs
/.sdkmanrc

COPYRIGHT_HEADER
Jenkinsfile
*.Jenkinsfile
.gitlab
CI
*.ppcs
*.pcs
**/nginx.conf
**/.env

/primsys-rest/primsys-rest-server/src/test/http/http-client.private.env.json
