activeEnvironment: TU

actors:
  doctors:
    - name: Adelheid Ulmenwald
      smcbIccsn: 80276001011699901102 # Praxis Bernd Rosenstrauch
      hbaIccsn: 80276001011699901501
      qualificationType: Arzt
      konnektor: Soft-Konn
      fhirValidator: NONE

    - name: Dr. Schraßer
      smcbIccsn: 80276883110000163972 #Praxis Peer Graf von Müller
      hbaIccsn: 80276883110000095767 #Arzt Sam Schraßer
      qualificationType: Arzt
      konnektor: Soft-Konn
      fhirValidator: NONE

    - name: Gündüla Gunther
      smcbIccsn: 80276001011699901102 # Praxis Bernd Rosenstrauch
      hbaIccsn: 80276883110000161759 #Arzt Gunther
      qualificationType: Zahnarzt
      konnektor: Soft-Konn
      fhirValidator: NONE

  pharmacies:
    - name: Am Flughafen
      smcbIccsn: 80276883110000163973
      konnektor: Soft-Konn
      algorithm: E256
      fhirValidator: NONE

    - name: Stadtapotheke
      smcbIccsn: 80276883110000163973
      konnektor: Soft-Konn
      algorithm: E256
      fhirValidator: NONE

    - name: Am Waldesrand
      smcbIccsn: 80276001011699900861
      konnektor: Soft-Konn
      fhirValidator: NONE

    - name: Adelheid Ulmendorfer
      smcbIccsn: 80276001011699902301
      konnektor: Soft-Konn
      fhirValidator: NONE

    - name: Bernd Ulmendorfer
      smcbIccsn: 80276001011699902302
      konnektor: Soft-Konn
      fhirValidator: NONE

    - name: Christine Ulmendorfer
      smcbIccsn: 80276001011699902303
      konnektor: Soft-Konn
      fhirValidator: NONE

    - name: An der Schule
      smcbIccsn: 80276883110000147759
      konnektor: Soft-Konn
      fhirValidator: NONE

  healthInsurances:
    - name: AOK Bremen
      smcbIccsn: 80276883110000163954
      fhirValidator: NONE


environments:
  - name: TU
    ti:
      tslBaseUrl: http://download-test.tsl.telematik-test/ECC
      discoveryDocumentUrl: https://idp-test.zentral.idp.splitdns.ti-dienste.de/.well-known/openid-configuration
      fdBaseUrl: https://erp-test.zentral.erp.splitdns.ti-dienste.de
      subscriptionServiceUrl: wss://subscription-test.zentral.erp.splitdns.ti-dienste.de/subscription
      userAgent: DUMMY VALUE
    internet:
      tslBaseUrl: https://download-test.tsl.ti-dienste.de/ECC
      discoveryDocumentUrl: https://idp-test.app.ti-dienste.de/.well-known/openid-configuration
      fdBaseUrl: https://erp-test.app.ti-dienste.de
      xapiKey: DUMMY VALUE
      userAgent: DUMMY VALUE

  - name: RU
    ti:
      tslBaseUrl: http://download-ref.tsl.telematik-test/ECC
      discoveryDocumentUrl: https://idp-ref.zentral.idp.splitdns.ti-dienste.de/.well-known/openid-configuration
      fdBaseUrl: https://erp-ref.zentral.erp.splitdns.ti-dienste.de
      subscriptionServiceUrl: wss://subscription-ref.zentral.erp.splitdns.ti-dienste.de/subscription
      userAgent: DUMMY VALUE
    internet:
      tslBaseUrl: https://download-ref.tsl.ti-dienste.de/ECC
      discoveryDocumentUrl: https://idp-ref.app.ti-dienste.de/.well-known/openid-configuration
      fdBaseUrl: https://erp-ref.app.ti-dienste.de
      xapiKey: DUMMY VALUE
      userAgent: DUMMY VALUE

  - name: RU-DEV
    ti:
      tslBaseUrl: http://download-ref.tsl.telematik-test/ECC
      discoveryDocumentUrl: https://idp-ref.zentral.idp.splitdns.ti-dienste.de/.well-known/openid-configuration
      fdBaseUrl: https://erp-dev.zentral.erp.splitdns.ti-dienste.de
      subscriptionServiceUrl: wss://subscription-dev.zentral.erp.splitdns.ti-dienste.de/subscription
      userAgent: DUMMY VALUE
    internet:
      tslBaseUrl: https://download-ref.tsl.ti-dienste.de/ECC
      discoveryDocumentUrl: https://idp-ref.app.ti-dienste.de/.well-known/openid-configuration
      fdBaseUrl: https://erp-dev.app.ti-dienste.de
      xapiKey: DUMMY VALUE
      userAgent: DUMMY VALUE

konnektors:
  - name: Soft-Konn
    type: local
